<h1>RSpec Example Site</h1>
<h4>The purpose of this website is for testing RSpec, Cucumber with Watir and headless chrome example tests</h4>

<div>
   <p>Values<p>
   <ul>
      <li>Value&nbsp 1&nbsp&nbsp $566.27</li>
      <li>Value&nbsp 2&nbsp&nbsp $23,329.50</li>
      <li>Value&nbsp 3&nbsp&nbsp $850,139.99</li>
      <li>Value&nbsp 4&nbsp&nbsp $599.00</li>
      <li>Value&nbsp 5&nbsp&nbsp $122,365.24	</li>
      <li>Value&nbsp 6&nbsp&nbsp $997,000.00	</li>
   </ul>
   <p>Total&nbsp Balance&nbsp&nbsp $997,000.00</p>
</div>
<div>
   <p>The objectives for RSpec example tests and Cucumber example tests are:</p>
   <ul>
      <li>Need to verify the right number of values appear on the screen</li>
      <li>Need to verify the values on the screen are greater than 0</li>
      <li>Need to verify the total balance is correct based on the values listed on the screen</li>
      <li>Need to verify the values are formatted as currencies</li>
      <li>Need to verify the total balance matches the sum of the values</li>
      <li>Create a mockup of what the results would like so a business client would know what was tested</li>
   </ul>
</div>

<div>
<pre>
For RSpec tests:
Please follow this link to download the RSpec example tests:
https://github.com/kieuhua/RSpec_examples.git
</pre>
</div>

<div>
<pre>
For Cucumber tests: using headless chrome and watir:
Please follow this link to download the Cucumber example tests:
</pre>
</div>


<p>You can go to the list of values to be tested by click the 'Values' link.</p>

<%= link_to 'Values', values_path %>