<h1>RSpec Example Site</h1>
<h4>The purpose of this website is for testing RSpec, Cucumber, and Capybara example tests</h4>

<p>You can go to the list of values to be tested by click the 'Values' link.</p>

<%= link_to 'Values', values_path %>